extends ../templates/layout

block content
  h1 Editar Libro
  form(action=`/libros-edit/${alumno.id}`, method='post')      
    label(for='titulo') Titulo:
    input.form-control(type='text', id='codigo', name='titulo', value=libro.titulo, required=true)
    br
    button(type='submit') Guardar Cambios
    br
  a(href='/alumnos') Volver a la Lista