extends ../templates/layout

block content
    h1 Editar Libro
    form(action=`/libro-edit/${libro.ID_LIBRO}`, method='post')      
      label(for='titulo') Titulo:
      input.form-control(type='text', id='titulo', name='titulo', value=libro.TITULO, required=true)
      br
      label(for='fecha_publicacion') Fecha de publicacion: 
      input.form-control(type="date", id='fecha_publicacion', name= 'fecha_publicacion')
      br
      label(for='precio') Precio: 
      input.form-control(type='number', id='precio', name='precio')
      br
      button(type='submit') Guardar Cambios
      br
    a(href='/libro') Volver a la Lista