extends ../templates/layout

block content
  h1 Agregar Libro
  form(action='/libro-add', method='post')
    label(for='titulo') Titulo:
    input(type='text', id='codigo', name='titulo', required=true)
    br
    button(type='submit') Agregar Libro
  br
  a(href='/') Volver a la Lista