extends ./templates/layout

block content
  link(rel="stylesheet", href="/css/style.css")

  h1 Bienvenido a la Aplicación de Gestión de Libros
  p Este proyecto ha sido desarrollado por:
  ul(style="padding-left: 20px")
    li Juan Luis Mata López
    li David Rico Chica
    li Alberto Ruiz Quiros

  h2 Funcionalidades
  h3 Gestión de Clientes
  p La aplicación permite gestionar los clientes de la librería, incluyendo la posibilidad de agregar, editar y eliminar clientes.

  h3 Gestión de Ventas
  p La aplicación también incluye la gestión de ventas, donde puedes registrar nuevas ventas y eliminar registros de ventas anteriores.

  h3 Gestión de Libros
  p La funcionalidad de gestión de libros permite agregar nuevos títulos, editar la información de los libros existentes y eliminarlos de la base de datos.

  h3 Gestión de Autores
  p Puedes administrar los autores de los libros, permitiendo agregar nuevos autores, editar su información y eliminarlos si es necesario.
  
