html
  head
    title= pageTitle
    link(rel='stylesheet', type='text/css', href='/css/estilos.css')
  body    
    h1 Bienvenido, #{user || 'Invitado'}
    nav
      ul
        li
          a(href="/") Inicio
        if user
            li
                a(href="/cliente") Clientes
            li 
                a(href="/venta") Ventas
            li 
                a(href="/libro") Libros
            li 
                a(href="/autor") Autor 
            li
                a(href="/logout") Cerrar sesión
        else
          li
            a(href="/login") Iniciar Sesión
      
    block content