extends ../templates/layout

block content
    h1 Lista de Ventas 
    table 
        thead 
            tr 
                th Id Venta 
                th Fecha de Venta
                th Total 
        tbody 
            each venta in ventas 
                tr 
                    td= venta.id_venta 
                    td= venta.fecha_venta
                    td= venta.total 
                    td 
                        a(href=`/venta-delete/${venta.id_venta}`) Eliminar venta
    p 
        a(href='/venta-add') Agregar nueva venta