extends ../templates/layout

block content
    h1 Eliminar Venta

    form(action=`/venta-delete/${venta.id_venta}`, method='post')

      label(for='venta') Venta:
      
      select(id='venta', name='venta')
          option(value=venta.id_venta) #{venta.id_venta}
      br
      button(type='submit') Eliminar Venta
    br
    a(href='/venta') Volver a la Lista
