extends ../templates/layout

block content
    h1 Eliminar Venta

    form(action='/venta', method='post')

      label(for='venta') Venta:
      
      select(id='venta', name='venta')
          each venta in ventas 
            option(value= venta.id)= `${VENTA.ID_VENTA}`
      br
      button(type='submit') Eliminar Venta
    br
    a(href='/venta') Volver a la Lista
